/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class div.alert-wrapper.sc-ion-alert-md {
    background-size: 64px 64px;
    background-position: top 10px right 10px;
    background-repeat: no-repeat;
}

.my-custom-class.critico div.alert-wrapper {
    color: --ion-color-success;
    background-color: #cdf9cd;
    border: 4px dashed --ion-color-success-shade;
    background-image: url('/assets/clover.svg');    
}

.my-custom-class.pifia div.alert-wrapper {
    color: --ion-color-danger;
    background-color: #fcbfbf;
    border: 4px dashed --ion-color-danger-shade;
    background-image: url('/assets/turd.svg');    
}


@media (max-width: 576px) {
    $icon-size: 48px;

    .az-icon {
        width: $icon-size;
        height: $icon-size;
    }

    .az-icon-wrapper {
        min-height: calc(#{$icon-size} + 4px);
    }

    .az-icon::before {
        min-width: calc(#{$icon-size} + 4px);
        min-height: calc(#{$icon-size} + 4px);
    }

    .table-headers ion-img {
        max-width: 24px;
    }
}

@media (min-width: 577px) {
    $icon-size: 56px;

    .az-icon {
        width: $icon-size;
        height: $icon-size;
    }

    .az-icon-wrapper {
        min-height: calc(#{$icon-size} + 4px);
    }

    .az-icon::before {
        min-width: calc(#{$icon-size} + 4px);
        min-height: calc(#{$icon-size} + 4px);
    }

    .table-headers ion-img {
        max-width: 32px;
    }
}

@media (min-width:768px) {
    $icon-size: 64px;

    .az-icon {
        width: $icon-size;
        height: $icon-size;
    }

    .az-icon-wrapper {
        min-height: calc(#{$icon-size} + 4px);
    }

    .az-icon::before {
        min-width: calc(#{$icon-size} + 4px);
        min-height: calc(#{$icon-size} + 4px);
    }

    .table-headers ion-img {
        max-width: 48px;
    }
}

/* TODO: investigate themes, see: https://ionicframework.com/docs/theming/themes  */
$red : red;
$orange: orange;
$green: green;
$purple: purple;
$icon-background: rgba(0, 0, 0, 0.85);
$skill-ts-icon-background: darkgreen;
$pure-ts-icon-background: rgb(2, 59, 2);
$damage-icon-background: rgb(59, 2, 2);

.az-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.az-icon {
    border: 2px solid $red;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    background-color: $icon-background;
}

.damage .az-icon {
    background-color: $damage-icon-background;
}

.pure-ts .az-icon {
    background-color: $pure-ts-icon-background;
}

/*
.skill-ts .az-icon {
    background-color: $skill-ts-icon-background ;
}
*/
ion-row {
    position: relative;
}

/* TODO: improve this */
ion-col {
    padding: 0 !important;
}

.skill ion-col,
.skill-ts ion-col {
    background-color: rgba(212, 212, 212, 0.3);
    border-bottom: 1px solid rgba(212, 212, 212, 0.4);
}

.language ion-col {
    background-color: rgba(212, 180, 212, 0.3);
    border-bottom: 1px solid rgba(212, 180, 212, 0.4);
}

.damage ion-col {
    background-color: rgba(212, 198, 180, 0.3);
    border-bottom: 1px solid rgba(212, 198, 180, 0.4);
}

.combat {
    background-color: rgba(250, 212, 212, 0.3);
    border-bottom: 1px solid rgba(250, 212, 212, 0.4);
}

.pure-ts {
    background-color: rgba(212, 250, 212, 0.3);
    border-bottom: 1px solid rgba(180, 225, 180, 0.8);
}

.table-headers {
    font-weight: bold;
    background-color: rgba(212, 212, 212, 0.5);
    border-bottom: 1px solid black;
}

.table-headers ion-img {
    min-width: 24px;
    margin: 0 auto;
}

.az-icon:hover {
    transform: translateY(-6px);
    background-color: black;
}

.az-icon::before {
    content: '';
    border-radius: 5px;
    border: 2px solid darken($red, 10%);
    box-shadow: 0 0 30px darken($red, 40%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
}

.az-icon::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
}

.pure-ts .az-icon::after {
    content: 'S';
    border: 1px solid skyblue;
    background-color: $pure-ts-icon-background;
}

.damage .az-icon::after {
    content: 'D';
    border: 1px solid orange;
    background-color: $damage-icon-background;
}

/* Margin for the bottom controls */
ion-grid:last-child {
    margin-bottom: 120px;
}

.az-icon:hover::before,
.az-icon:focus::before {
    opacity: 1;
}

.damage .az-icon {
    border: 2px solid $orange;
}

.damage .az-icon::before {
    border: 2px solid darken($orange, 10%);
    box-shadow: 0 0 30px darken($orange, 40%);
}

.damage .az-icon:hover,
.characteristic .az-icon:hover,
.skill .az-icon:hover {
    background-color: black;
}

.skill.az-icon {
    border: 2px solid $green;
}

.skill.az-icon::before {
    border: 2px solid darken($green, 10%);
    box-shadow: 0 0 30px darken($green, 40%);
}

.characteristic.az-icon {
    border: 2px solid $purple;
}

.characteristic.az-icon::before {
    border: 2px solid darken($purple, 10%);
    box-shadow: 0 0 30px darken($purple, 40%);
}

/* Badges */
.skill-badges {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* OJO ñapa */
    direction: rtl;
}

.skill-badges ion-badge {
    z-index: 10;
    /* OJO ñapa */
    direction: ltr;
    margin-left: 2px;
}

.col-skill-name::before {
    position: absolute;
    font-size: x-small;
    color: #666;
    top: 2px;
    left: 5px;
}

.damage .col-skill-name::before {
    content: 'Daño';
}

.combat .col-skill-name::before {
    content: 'Combate';
}
.skill .col-skill-name::before {
    content: 'Habilidad';
}
.pure-ts .col-skill-name::before {
    content: 'T. Salvación';
}
.skill-ts .col-skill-name::before {
    content: 'Característica';
}
.language .col-skill-name::before {
    content: 'Idioma';
}

.trained {
    font-weight: bold;
}