<ion-header [translucent]="true" *ngIf="loaded===5">
  <ion-toolbar *ngIf="section===1">
    <ion-title (click) = "loadAll()">
      {{charData.nombre.value_2}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="section===2">
    <ion-buttons slot="end">
      <ion-button (click)="ini = !ini">
        <ion-icon  *ngIf="!ini" slot="icon-only" name="people-outline" ></ion-icon>
        <ion-icon  *ngIf="ini" slot="icon-only" name="people" ></ion-icon>
      </ion-button>
      <ion-button (click)="info = !info">
        <ion-icon  *ngIf="!info" slot="icon-only" name="information-circle-outline" ></ion-icon>
        <ion-icon  *ngIf="info" slot="icon-only" name="information-circle" ></ion-icon>
      </ion-button>
      <ion-button (click)="spell = !spell">
        <ion-icon  *ngIf="!spell" slot="icon-only" name="eye-off-outline" ></ion-icon>
        <ion-icon  *ngIf="spell" slot="icon-only" name="eye" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click) = "loadAll()">{{charData.nombre.value_2}}:</ion-title>
  </ion-toolbar >
  <ion-toolbar *ngIf="section===3">
    <ion-buttons slot="end">
      <ion-button (click)="diceMenu = !diceMenu">
        <span *ngIf="diceMenu">🎲</span>
        <ion-icon  *ngIf="!diceMenu" slot="icon-only" name="cube-outline" >V</ion-icon>
      </ion-button>
      <ion-button (click)="adv = !adv; disadv = false">
        <ion-icon  color="success" *ngIf="adv" slot="icon-only" name="thumbs-up" >V</ion-icon>
        <ion-icon  *ngIf="!adv" slot="icon-only" name="thumbs-up-outline" >V</ion-icon>
      </ion-button>
      <ion-button size= "large" (click)="disadv = !disadv;adv = false">
        <ion-icon  *ngIf="!disadv" slot="icon-only" name="thumbs-down-outline" >D</ion-icon>
        <ion-icon  color="danger" *ngIf="disadv" slot="icon-only" name="thumbs-down" >D</ion-icon>
      </ion-button>
      <ion-button (click)="bless = !bless">
        <span *ngIf="bless">🐀</span>
        <ion-icon  *ngIf="!bless" slot="end" name="triangle-outline" >+d4</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click) = "loadAll()"> {{charData.nombre.value_2}}:</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="section===3">
    <ion-searchbar (ionInput)="getHabilidades($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="section===4">
    <ion-title (click) = "loadAll()">{{charData.nombre.value_2}}:</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="section===4">
    <ion-searchbar (ionInput)="getEquipo($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="section===5">
    <ion-buttons slot="end">
      <ion-button (click)="info = !info">
        <ion-icon  *ngIf="!info" slot="icon-only" name="information-circle-outline" ></ion-icon>
        <ion-icon  *ngIf="info" slot="icon-only" name="information-circle" ></ion-icon>
      </ion-button>
      <ion-button (click)="spell = !spell">
        <ion-icon  *ngIf="!spell" slot="icon-only" name="eye-off-outline" ></ion-icon>
        <ion-icon  *ngIf="spell" slot="icon-only" name="eye" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click) = "loadAll()">{{charData.nombre.value_2}}:</ion-title>

  </ion-toolbar>
  <ion-toolbar *ngIf="section===5">
    <ion-searchbar (ionInput)="getConjuros($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loaded!==5">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="loaded===5">
  <!-- Principal -->
  <div *ngIf="section===1">
  <ion-list>
    <!-- <ion-button shape="round" color="primary" expand="block" (click)="GetData()">Pedir</ion-button> -->
    <!-- Principal > Portada -->
    <ion-item  *ngIf="tab===1">
      <ion-card>
        <img [src]="charData.foto.value_2"/>
        
        <ion-card-header>
          <ion-card-title>{{charData.raza.value_2}} - {{charData.clase.value_2}}</ion-card-title>
          <ion-card-subtitle>{{charData.jugador.value_2}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        <p><b>Rasgos:</b> {{charData.rasgos.value_2}}</p>
          <p><b>Ideales:</b> {{charData.ideales.value_2}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <!-- Principal > Info -->
    <div *ngIf="tab===2">
      <ion-item><ion-label>Origen:</ion-label> <ion-text color="primary">{{charData.origen.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Religion:</ion-label> <ion-text  color="secondary">{{charData.religion.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Edad:</ion-label> <ion-text  color="primary">{{charData.edad.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Altura:</ion-label> <ion-text  color="secondary">{{charData.altura.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Alineamiento:</ion-label> <ion-text  color="primary">{{charData.alineamiento.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Sexo:</ion-label> <ion-text  color="secondary">{{charData.sexo.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Peso:</ion-label> <ion-text  color="primary">{{charData.peso.value_2}}</ion-text></ion-item>
    </div>  
    <!-- Principal > Características -->
    <div *ngIf="tab===3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h1>BONO</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h1><ion-icon name="bonfire-outline"></ion-icon></h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h1>TS</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.fue.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h3>FUE</h3>
              <h3>{{charData.fue.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.fue.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center">
              <h1>{{charData.con.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  color="primary" class="ion-text-center">
              <h3>CON</h3>
              <h3>{{charData.con.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.con.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.des.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  color="primary" class="ion-text-center">
              <h3>DES</h3>
              <h3>{{charData.des.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.des.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.int.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h3>INT</h3>
              <h3>{{charData.int.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.int.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.sab.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col color='newColor'>
            <ion-text color="primary" class="ion-text-center">
              <h3 >SAB</h3>
              <h3>{{charData.sab.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.sab.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.car.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h3>CAR</h3>
              <h3>{{charData.car.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text  class="ion-text-center">
              <h1>{{charData.car.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-list>
  </div>
  <!-- Combate -->
  <div *ngIf="section===2">
    <div *ngIf="ini">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-text class="ion-text-center" >
              <small>Player</small>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text class="ion-text-center" >
              <small>Ini</small>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text size="2" class="ion-text-center" >
              <small>Turno</small>
            </ion-text>
          </ion-col>
        </ion-row>
        <div *ngFor="let ini of iniciativasData">
          <ion-row [ngClass]="{'strong ion-text-uppercase' : ini.prop.includes(charData.nombre.value_2)}">
              <ion-col size="6">
                <ion-text class="ion-text-center" color="primary">
                  <small>{{ini.prop}}</small>
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="ion-text-center" color="danger">
                  <small>{{ini.value_2}}</small>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text size="2" class="ion-text-center" color="warning">
                  <span *ngIf="ini.value_5==='S'">❌</span>
                  <span *ngIf="ini.value_5==='N'">✅</span>
                </ion-text>
              </ion-col>
          </ion-row>
        </div>

      </ion-grid>  
    </div>
    <div *ngIf="info">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item><ion-label>Puto de golpe:</ion-label> <ion-text  >{{charData.pg.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Daño:</ion-label> <ion-text  >{{charData.damage.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>AC:</ion-label> <ion-text  >{{charData.ac.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Iniciativa:</ion-label> <ion-text  >{{charData.ini.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Movimiento:</ion-label> <ion-text  >{{charData.mov.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Competencia:</ion-label> <ion-text  >{{charData.comp.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Inspiración:</ion-label> <ion-text  >{{charData.insp.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Nivel:</ion-label> <ion-text  >{{charData.nivel.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Dados de golpe:</ion-label> <ion-text  >{{charData.dadoG.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Cansancio:</ion-label> <ion-text  >{{charData.cansa.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.bladeSo.value_2">
            <ion-item><ion-label>Blades:</ion-label> <ion-text  >{{charData.bladeSo.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.hexCu.value_2">
            <ion-item><ion-label>Hex Curse:</ion-label> <ion-text  >{{charData.hexCu.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.sentCa.value_2">
            <ion-item><ion-label>Sentido cazador:</ion-label> <ion-text  >{{charData.sentCa.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.bayaBu.value_2">
            <ion-item><ion-label>Bayas buenas:</ion-label> <ion-text  >{{charData.bayaBu.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.luck.value_2">
            <ion-item><ion-label>Suerte del diablo:</ion-label> <ion-text  >{{charData.luck.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.almaR.value_2">
            <ion-item><ion-label>Alma radiante:</ion-label> <ion-text  >{{charData.almaR.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.luzCu.value_2">
            <ion-item><ion-label>Luz Curadora:</ion-label> <ion-text  >{{charData.luzCu.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.palaCu.value_2">
            <ion-item><ion-label>Pala Curas:</ion-label> <ion-text  >{{charData.palaCu.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.metam.value_2">
            <ion-item><ion-label>Metamagia:</ion-label> <ion-text  >{{charData.metam.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.rage.value_2">
            <ion-item><ion-label>Rabias:</ion-label> <ion-text  >{{charData.rage.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.kitPr.value_2">
            <ion-item><ion-label>Kit 1ºsAux:</ion-label> <ion-text  >{{charData.kitPr.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.flecha.value_2">
            <ion-item><ion-label>Proyectiles:</ion-label> <ion-text  >{{charData.flecha.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.pocion.value_2">
            <ion-item><ion-label>Pociones:</ion-label> <ion-text  >{{charData.pocion.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.flechaAg.value_2">
            <ion-item><ion-label>Fechas Plata:</ion-label> <ion-text  >{{charData.flechaAg.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.carta1.value_2">
            <ion-item><ion-label>Carta 1:</ion-label> <ion-text  >{{charData.carta1.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.carta2.value_2">
            <ion-item><ion-label>Carta 2:</ion-label> <ion-text  >{{charData.carta2.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6" *ngIf="charData.carta3.value_2">
            <ion-item><ion-label>Carta 3:</ion-label> <ion-text  >{{charData.carta3.value_2}}</ion-text></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-text class="ion-text-center" >
            <small>Ataque</small>
          </ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-text class="ion-text-center" >
            <small>ACC</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="2" class="ion-text-center" >
            <small>BONO</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="2" class="ion-text-center" >
            <small>DAÑO</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="1" class="ion-text-center" >
            <small>TIPO</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="2" class="ion-text-center" >
            <small>Alc</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of ataquesDataFilter">
        <ion-row >
            <ion-col size="3">
              <ion-text class="ion-text-center" color="primary">
                <small>{{item.prop}}</small>
              </ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-text class="ion-text-center" color="danger">
                <small>{{item.value_2}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="2" class="ion-text-center" color="warning">
                <small>{{item.value_3}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="2" class="ion-text-center" color="warning">
                <small>{{item.value_4}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="1" class="ion-text-center" color="warning">
                <small>{{item.value_5}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="2" class="ion-text-center" color="warning">
                <small>{{item.value_6}}</small>
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="spell" >
          <ion-col size="12">
            <ion-text class="ion-text-center" color="primary">
              <small>{{item.value_7}}</small>
            </ion-text>
          </ion-col>
      </ion-row>
      </div>
    </ion-grid>
  </div>
  <!-- Dados -->
  <div *ngIf="section===3">
    <ion-grid *ngIf="diceMenu">
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d20','2d20kh1','2d20kl1')">Dado 20</ion-button>
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d12','2d12kh1','2d12kl1')">Dado 12</ion-button>
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d10','2d10kh1','2d10kl1')">Dado 10</ion-button>
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d8','2d8kh1','2d8kl1')">Dado 8</ion-button>
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d6','2d6kh1','2d6kl1')">Dado 6</ion-button>
      <ion-button expand="full"(click) = "rollDice('Dado generico: ','1d4','2d4kh1','2d4kl1')">Dado 4</ion-button>
    </ion-grid>
    <ion-grid *ngIf="!diceMenu">
      <ion-row class="table-headers">
        <ion-col size="3" class="ion-text-left skill-name">
          <ion-text color= "primary">
            Skill
          </ion-text>
        </ion-col>
        <ion-col size="1" class="ion-text-center skill-icon">
            <ion-img [src]="addAssetsPrefix(iconsMap['default'])" [alt]="'Tira!'"></ion-img>
        </ion-col>
        <ion-col size="2" class="ion-text-center skill-total">
          <ion-text  color= "warning">
            TOT
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center skill-points">
          <ion-text color= "danger">
            PTN
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center skill-characteristic">
          <ion-text color= "Success">
            CAR
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center skill-other">
          <ion-text color="secondary">
            OTR
          </ion-text>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of habilidadesDataFilter; index as i">
      <ion-row *ngIf="((item.value_2)&&(allOptions||((diceFav&&item.value_12==='S'))||((diceSkill &&(item.value_8==='SKILL'||item.value_8==='LANGUAGE'))||(diceAttack &&(item.value_8==='COMBAT'))||(diceTS &&(item.value_8==='TS'))||(diceDamage &&(item.value_8==='DAMAGE')))))"
      class="{{item.cssClass}}">
        <!-- Badges  -->
        <div class="skill-badges">
          <ion-badge *ngFor="let badge of item.badges; index as j" class="skill-badge">{{badge}}</ion-badge>
        </div>
        <!-- End  Badges  -->
        <ion-col size="3" class="ion-text-left col-skill-name">
          <ion-text color= "primary">
            <p><small>
              <span *ngIf="item.value_8==='COMBAT'">🗡️</span>
              <span *ngIf="item.value_8==='SKILL'">⚙️</span>
              <span *ngIf="item.value_8==='DAMAGE'">💥</span>
              <span *ngIf="item.value_8==='LANGUAGE'">🇧🇧</span>
              <span *ngIf="item.value_8==='TS'">💀</span>
              
              <span *ngIf="!item.value_5; else entrenada" >{{item.value_2}}</span>
              <ng-template #entrenada><b>--{{item.value_2}}--</b></ng-template>
            </small></p>
          </ion-text>
        </ion-col>
        <ion-col size="1" class="ion-text-center">
          <ion-text color="secondary"  class="az-icon-wrapper">
            <!-- replace dice with icon if available -->
            <span *ngIf="item.value_9&&!rolling" (click) = "rollDice(item.value_2,item.value_9,item.value_10,item.value_11)" fill="clear">
              <ng-container *ngIf="item.value_2.startsWith('At.'); else noattack">
                <span *ngIf="iconsMap[item.value_2]; else noicon">
                  <ion-img [src]="addAssetsPrefix(iconsMap[item.value_2])" [alt]="item.value_2" class="az-icon attack"></ion-img>
                </span>
                <ng-template #noicon>🎲</ng-template>
              </ng-container>
              <ng-template #noattack>
                <ng-container *ngIf="iconsMap['At.'+item.value_2]; else skillOrNoIcon">
                <span>
                  <ion-img [src]="addAssetsPrefix(iconsMap['At.'+item.value_2])" [alt]="item.value_2" class="az-icon damage"></ion-img>
                </span>
                </ng-container>
                <ng-template #skillOrNoIcon>
                  <span *ngIf="iconsMap[item.value_2]; else noicon">
                    <ion-img [src]="addAssetsPrefix(iconsMap[item.value_2])" [alt]="item.value_2" class="az-icon skill"></ion-img>
                  </span>
                <ng-template #noicon><ion-img [src]="addAssetsPrefix(iconsMap['default'])" [alt]="item.value_2" class="az-icon skill"></ion-img></ng-template>
                </ng-template>
              </ng-template>
          </span>
            <h1><span *ngIf="rolling" fill="clear"><span>🔥</span></span></h1>
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-text  color= "warning">
            <p><small>{{item.value_3}}</small></p>
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-text color= "danger">
          <p><small>{{item.value_5}}</small></p>
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-text color= "Success" >
          <p><small>{{item.value_6}}-{{item.value_4}}</small></p>
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-text  color="secondary">
          <p><small>{{item.value_7}}</small></p>
          </ion-text>
        </ion-col>
      
      </ion-row>
      </div>
    
    </ion-grid>
  </div>
  <!-- Inventario -->
  <div *ngIf="section===4">
    <ion-grid>
      <ion-row *ngFor="let item of equipDataFilter">
        <ion-col size="6">
          <ion-text class="ion-text-center" color="primary">
          <p><small>{{item.value_4}}</small></p>
          </ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text class="ion-text-center" color="danger">
          <p><small>{{item.value_3}}</small></p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="3" class="ion-text-center" color="warning">
          <p><small>{{item.value_2}}</small></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- Magia -->
  <div *ngIf="section===5">
    <div *ngIf="info">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item><ion-label>Cantrips:</ion-label> <ion-text >{{charData.spell0.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Conj N1:</ion-label> <ion-text >{{charData.spell1G.value_2}}/{{charData.spell1.value_2}}</ion-text></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item><ion-label>Conj N2:</ion-label> <ion-text  >{{charData.spell2G.value_2}}/{{charData.spell2.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Conj N3:</ion-label> <ion-text  >{{charData.spell3G.value_2}}/{{charData.spell3.value_2}}</ion-text></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item><ion-label>Ataque Conj:</ion-label> <ion-text  >{{charData.spellAt.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Tirada Salv:</ion-label> <ion-text  >{{charData.spellTs.value_2}}</ion-text></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item><ion-label>Conocido:</ion-label> <ion-text  >{{charData.spellKn.value_2}}</ion-text></ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item><ion-label>Nivel:</ion-label> <ion-text  >{{charData.nivel.value_2}}</ion-text></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-text class="ion-text-center" >
            <small>Name</small>
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text class="ion-text-center" >
            <small>N</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="2" class="ion-text-center" >
            <small>Action</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="1" class="ion-text-center" >
            <small>R-C</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="1" class="ion-text-center" >
            <small>Dur</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="1" class="ion-text-center" >
            <small>Alc</small>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text size="2" class="ion-text-center" >
            <small>Comp</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of conjurosDataFilter">
        <ion-row >
            <ion-col size="3">
              <ion-text class="ion-text-center" color="primary">
                <small>{{item.prop}}</small>
              </ion-text>
            </ion-col>
            <ion-col size="1">
              <ion-text class="ion-text-center" color="danger">
                <small>{{item.value_2}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="2" class="ion-text-center" color="warning">
                <small>{{item.value_3}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="1" class="ion-text-center" color="warning">
                <small>{{item.value_4}}</small>
                <small>{{item.value_5}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="1" class="ion-text-center" color="warning">
                <small>{{item.value_6}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="1" class="ion-text-center" color="warning">
                <small>{{item.value_7}}</small>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text size="2" class="ion-text-center" color="warning">
                <small>{{item.value_8}}</small>
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="spell" >
          <ion-col size="12">
            <ion-text class="ion-text-center">
              <small>{{item.value_9}}</small>
            </ion-text>
          </ion-col>
      </ion-row>
      </div>
    </ion-grid>

  </div>
</ion-content>

<ion-footer [translucent]="true" *ngIf="loaded===5">
  <ion-toolbar *ngIf="section===1">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="tab = 1">
          <ion-icon name="logo-apple"></ion-icon>
          <ion-label>Portada</ion-label>
          <ion-badge>N</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button (click)="tab = 2">
          <ion-icon name="logo-google"></ion-icon>
          <ion-label>Info</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="tab = 3">
          <ion-icon name="logo-linkedin"></ion-icon>
          <ion-label>Caracts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  <ion-toolbar *ngIf="section===3">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="allOptions = true; diceFav=false; diceSkill=false; diceAttack=false; diceDamage=false; diceTS=false">
          <ion-label *ngIf="allOptions" color="warning" ><h1>🏟️</h1>All</ion-label>
          <ion-label *ngIf="!allOptions" ><h1>🚫</h1>All</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="allOptions = false; diceFav=true; diceSkill=false; diceAttack=false; diceDamage=false; diceTS=false">
          <ion-label *ngIf="diceFav" color="warning" ><h1>🌟</h1>Fav</ion-label>
          <ion-label *ngIf="!diceFav" ><h1>🚫</h1>Fav</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="allOptions = false; diceFav=false; diceSkill=true; diceAttack=false; diceDamage=false; diceTS=false">
          <ion-label *ngIf="diceSkill" color="warning" ><h1>⚙️</h1>Hab</ion-label>
          <ion-label *ngIf="!diceSkill" ><h1>🚫</h1>Hab</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="allOptions = false; diceFav=false; diceSkill=false; diceAttack=true; diceDamage=false; diceTS=false">
          <ion-label *ngIf="diceAttack" color="warning" ><h1>🗡️</h1>Att</ion-label>
          <ion-label *ngIf="!diceAttack" ><h1>🚫</h1>Att</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="allOptions = false; diceFav=false; diceSkill=false; diceAttack=false; diceDamage=true; diceTS=false">
          <ion-label *ngIf="diceDamage" color="warning" ><h1>💥</h1>Dmg</ion-label>
          <ion-label *ngIf="!diceDamage" ><h1>🚫</h1>Dmg</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="allOptions = false; diceFav=false; diceSkill=false; diceAttack=false; diceDamage=false; diceTS=true">
          <ion-label *ngIf="diceTS" color="warning" ><h1>💀</h1>TS</ion-label>
          <ion-label *ngIf="!diceTS" ><h1>🚫</h1>TS</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  (click)="section = 1; reset();">
          <ion-icon *ngIf="section===1" color="warning" name="person-circle-outline"></ion-icon>
          <ion-label *ngIf="section===1" color="warning">Principal</ion-label>
          <ion-icon *ngIf="section!==1"  name="person-circle-outline"></ion-icon>
          <ion-label *ngIf="section!==1" >Principal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="section = 2; reset();">
          <ion-icon *ngIf="section===2" color="warning"  name="skull-outline"></ion-icon>
          <ion-label *ngIf="section===2" color="warning" >Combate</ion-label>
          <ion-icon *ngIf="section!==2"   name="skull-outline"></ion-icon>
          <ion-label *ngIf="section!==2"  >Combate</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="section = 3; reset();">
          <ion-label *ngIf="section===3" color="warning" ><h1>🎲</h1>Dados</ion-label>
          <ion-label *ngIf="section!==3" ><h1>🎲</h1>Dados</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button  (click)="section = 4; reset();">
          <ion-icon *ngIf="section===4" color="warning"  name="shirt-outline"></ion-icon>
          <ion-label *ngIf="section===4" color="warning" >Inventario</ion-label>
          <ion-icon *ngIf="section!==4"   name="shirt-outline"></ion-icon>
          <ion-label *ngIf="section!==4"  >Inventario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  (click)="section = 5; reset();">
          <ion-icon *ngIf="section===5" color="warning"  name="color-wand-outline"></ion-icon>
          <ion-label *ngIf="section===5" color="warning" >Magia</ion-label>
          <ion-icon *ngIf="section!==5"   name="color-wand-outline"></ion-icon>
          <ion-label *ngIf="section!==5" >Magia</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>